@import "config";
@import "utility";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: $font-stack;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  min-height: 100vh;

  &__main {
    grid-column: 2/12;
    display: grid;
    grid-template-rows: auto 1fr;
  }

  &__search {
    @include grid-center;
    padding: 2rem 0;
  }

  &__video {
    @include grid-rowColumn-layout(4, 12);
  }

  &__videoPlayer {
    @include grid-rowColumn-span(1, 4, 1, 9);
    border: 1px solid royalblue;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }

  &__description {
    @include grid-rowColumn-span(4, 5, 1, 9);
    border: 1px solid royalblue;
    border-right-width: 0px;
  }

  &__videoList {
    @include grid-rowColumn-span(1, -1, 9, -1);
    border: 1px solid royalblue;
  }
}
